:root {
	--color-accent: #4d5ae5;
	--accent-dark: #2e2f42;
	--color-text: #434455;
	--main-font: "Roboto", sans-serif;
	--header-font: "Raleway", sans-serif;
	--color-hover: #404bbf;
	--light-gray: #f4f4fd;
}

body {
	font-family: var(--main-font);
	color: var(--color-text);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	overflow: hidden;
}

.list {
	list-style: none;
}

.btn {
	border-radius: 4px;
	border: none;
	transition: color 0.3s ease-in-out;
	cursor: pointer;
	font-family: inherit;
	font-weight: 500;
}

.btn:hover,
.btn:focus {
	background: var(--color-hover);
}

.link {
	color: var(--accent-dark);
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}
.link:hover,
.link:focus {
	color: var(--color-hover);
}

.title {
	font-weight: 700;
	text-align: center;
	color: var(--accent-dark);
	text-transform: capitalize;
	font-size: 36px;
	line-height: 1.11;
}

.logo {
	font-family: var(--header-font);
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-decoration: none;
	color: inherit;
}

.logo > span {
	color: var(--color-accent);
}

.menu a {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.contacts a {
	font-style: normal;
	color: inherit;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-decoration: none;
}

.hero {
	background: var(--accent-dark);
}

.hero__title {
	font-size: 56px;
	line-height: 60px;
	letter-spacing: 0.02em;
	color: #ffffff;
}

.hero__btn {
	font-family: inherit;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #ffffff;
	background: var(--color-accent);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.benefits__title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.benefits__dscr {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--color-text);
}

.team {
	background: var(--light-gray);
}

.team__person {
	background: #ffffff;
}

.team__name {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.02em;
}

.team__position {
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.02em;
	color: #434455;
}

.footer {
	background: var(--accent-dark);
}

.logo__footer {
	color: var(--light-gray);
}

.footer__descr {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--light-gray);
}
